@import "tailwindcss";
@font-face {
  font-family: dashFont;
  src: url('/MonaSans-VariableFont_wdth,wght.ttf')   ;
}
@font-face {
  font-family: dashFont2;
  src: url('/MonaSans_Condensed-Bold.ttf');
}
